streamlit
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-chroma
langchain-text-splitters

faiss-cpu
chromadb

sentence-transformers

pymupdf

python-dotenv

openai

ragas

tiktoken

langchain-groq
python-dotenv

torchvision